<%= simple_form_for @tweet, html:{multipart: true}, validate: true do |f| %>
	
	<div class="form-group">
		<%= f.input :content, label: false, input_html:{placeholder: "Just Say It..."} %>
	</div>
	<div class="form-action">
		<%= f.submit "Post", class: 'btn btn-primary post_tweet_btn' %>
	</div>

<% end %>